@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p{
    padding-left: 10px;
    padding-top: 10px;
}

.footware{
    
    padding-left: 10px;
    padding-top: 10px;
   
}
.navbar{
    position: relative;
}

.heading{
    padding-left: 10px;
}

.main-home{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
}
.space{
    padding: 20px;
}
button{
    padding: 5px;
}
.btn{
    padding: 10px;
    margin-left: 20px;
}


.box{
    box-shadow: 1px 10px 30px  black;
}

.size{
    padding-bottom: 100px;
}