@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p{
    padding-left: 10px;
    padding-top: 10px;
}

.footware{
    
    padding-left: 10px;
    padding-top: 10px;
   
}
.navbar{
    position: relative;
    z-index: 1;
    position: fixed;
    width: 100vw;
}

.heading{
    padding-left: 10px;
}

.main-home{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
}
.space{
    padding: 20px;
}
button{
    padding: 5px;
}
.btn{
    padding: 10px;
    margin-left: 20px;
}


.box{
    box-shadow: 1px 10px 30px  black;
}

.size{
    padding-bottom: 100px;
}
.padding512{
    padding-left: 8px;
}

.btn512{
    margin-left: 10px;
    margin-top: 10px;
}


.slider {
  position: relative;
  width: 100%;

}

.slide {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

/* arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  font-size: 28px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.left { left: 10px; }
.right { right: 10px; }

/* baton container */
.batons {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  gap: 8px;
}

/* normal baton */
.baton {
  width: 24px;
  height: 4px;
  background: #ccc;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

/* active baton */
.baton.active {
  width: 40px;
  background: #2874f0;
  transition: width 0.4s ease;
}
.slider {
  width: 100%;
  height: 270px;
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  height: 100%;
  transition: transform 0.6s ease-in-out; /* Flipkart style */
}

.slide {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
